<!-- userid
carid
dob
cartyppe
price -->
<form [formGroup]="bookingform" (ngSubmit)="bookCar()">
    <div class="form-group">
        <label for="userid">UserId</label>
        <input type="text" name="userid" id="userid" formControlName="uid" placeholder="User id here" class="form-control">
        <div class="useriderr">
            <span class="text-danger" *ngIf="bookingform.controls.uid.errors?.required">
                Field Required
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="carid">CarId</label>
        <input type="text" name="carid" id="carid" formControlName="cid" placeholder="Car id here" class="form-control">
        <div class="cariderr">
            <span class="text-danger" *ngIf="bookingform.controls.cid.errors?.required">
                Field Required
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="dob">dateOfBooking</label>
        <input type="date" name="dob" id="dob" formControlName="dob"  class="form-control">
        <div class="doberr">
            <span class="text-danger" *ngIf="bookingform.controls.dob.errors?.required">
                Field Required
            </span>
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="cartype">Car-Type</label>
        <input type="text" name="cartype" id="cartype" formControlName="cartype" placeholder="cartype here" class="form-control">
        <div class="cartypeerr">
            <span class="text-danger" *ngIf="bookingform.controls.cartype.errors?.required">
                Field Required
            </span>
        </div>
    </div> -->
    <div class="form-group">
        <label for="price">price</label>
        <input type="text" name="price" id="price" formControlName="price" placeholder="price here" class="form-control">
        <div class="priceerr">
            <span class="text-danger" *ngIf="bookingform.controls.price.errors?.required">
                Field Required
            </span>
        </div>
    </div>
    <button class="btnn btn-primary" type="submit">Submit</button>
</form>